<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bsoft.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.bsoft.bean.User">
    <id column="USER_ID" jdbcType="DECIMAL" property="userId" />
    <result column="CREATE_USER" jdbcType="DECIMAL" property="createUser" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="DELETE_TIME" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="IS_ADMIN" jdbcType="DECIMAL" property="isAdmin" />
    <result column="LAST_LOGIN_TIME" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="LOGIN_NAME" jdbcType="VARCHAR" property="loginName" />
    <result column="LOGIN_PASSWORD" jdbcType="VARCHAR" property="loginPassword" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="SFYX" jdbcType="DECIMAL" property="sfyx" />
  </resultMap>
  <sql id="Base_Column_List">
    USER_ID, CREATE_USER, DESCRIPTION, CREATE_TIME, DELETE_TIME, IS_ADMIN, LAST_LOGIN_TIME, 
    LOGIN_NAME, LOGIN_PASSWORD, USERNAME, SFYX
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_USER
    where USER_ID = #{userId,jdbcType=DECIMAL}
  </select>
  <select id="getUserByName" parameterType="string" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_USER
    where LOGIN_NAME = #{name} and SFYX = 1
  </select>
  <select id="getUserList" parameterType="string" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_USER
    <where>
    	<if test="name != null and name !=''"> username like '%'||#{name}||'%' </if>
    	and SFYX = 1
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from T_USER
    where USER_ID = #{userId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.bsoft.bean.User">
    insert into T_USER (USER_ID, CREATE_USER, DESCRIPTION, 
      CREATE_TIME, DELETE_TIME, IS_ADMIN, 
      LAST_LOGIN_TIME, LOGIN_NAME, LOGIN_PASSWORD, 
      USERNAME, SFYX)
    values (#{userId,jdbcType=DECIMAL}, #{createUser,jdbcType=DECIMAL}, #{description,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{deleteTime,jdbcType=TIMESTAMP}, #{isAdmin,jdbcType=DECIMAL}, 
      #{lastLoginTime,jdbcType=TIMESTAMP}, #{loginName,jdbcType=VARCHAR}, #{loginPassword,jdbcType=VARCHAR}, 
      #{username,jdbcType=VARCHAR}, #{sfyx,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.bsoft.bean.User">
    insert into T_USER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="deleteTime != null">
        DELETE_TIME,
      </if>
      <if test="isAdmin != null">
        IS_ADMIN,
      </if>
      <if test="lastLoginTime != null">
        LAST_LOGIN_TIME,
      </if>
      <if test="loginName != null">
        LOGIN_NAME,
      </if>
      <if test="loginPassword != null">
        LOGIN_PASSWORD,
      </if>
      <if test="username != null">
        USERNAME,
      </if>
      <if test="sfyx != null">
        SFYX,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=DECIMAL},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isAdmin != null">
        #{isAdmin,jdbcType=DECIMAL},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="loginPassword != null">
        #{loginPassword,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="sfyx != null">
        #{sfyx,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bsoft.bean.User">
    update T_USER
    <set>
      <if test="createUser != null">
        CREATE_USER = #{createUser,jdbcType=DECIMAL},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null">
        DELETE_TIME = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isAdmin != null">
        IS_ADMIN = #{isAdmin,jdbcType=DECIMAL},
      </if>
      <if test="lastLoginTime != null">
        LAST_LOGIN_TIME = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginName != null">
        LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="loginPassword != null">
        LOGIN_PASSWORD = #{loginPassword,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="sfyx != null">
        SFYX = #{sfyx,jdbcType=DECIMAL},
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bsoft.bean.User">
    update T_USER
    set CREATE_USER = #{createUser,jdbcType=DECIMAL},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      DELETE_TIME = #{deleteTime,jdbcType=TIMESTAMP},
      IS_ADMIN = #{isAdmin,jdbcType=DECIMAL},
      LAST_LOGIN_TIME = #{lastLoginTime,jdbcType=TIMESTAMP},
      LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
      LOGIN_PASSWORD = #{loginPassword,jdbcType=VARCHAR},
      USERNAME = #{username,jdbcType=VARCHAR},
      SFYX = #{sfyx,jdbcType=DECIMAL}
    where USER_ID = #{userId,jdbcType=DECIMAL}
  </update>
</mapper>